<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.7.0.167456</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {559, 783}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2012-08-25 14:58:42 +0000</string>
	<key>Creator</key>
	<string>Jason Qian</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1.0000 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>AbsoluteRotation</key>
			<string>YES</string>
			<key>Bounds</key>
			<string>{{218.1109619140625, 343.99998793189974}, {162.8890380859375, 18}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>1</string>
					<key>g</key>
					<string>1</string>
					<key>r</key>
					<string>1</string>
				</dict>
				<key>Font</key>
				<string>Helvetica-Bold</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>36470</integer>
			<key>Rotation</key>
			<real>180</real>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{0.49999700000000002, 0.5}</string>
					<string>{0.49999700000000002, 0.5}</string>
					<string>{0.499996, -0.5}</string>
					<string>{0.499996, -0.5}</string>
					<string>{0.499996, -0.5}</string>
					<string>{-0.395061, -0.49999399999999999}</string>
					<string>{-0.395061, -0.49999399999999999}</string>
					<string>{-0.395061, -0.49999399999999999}</string>
					<string>{-0.499998, 0.0249996}</string>
					<string>{-0.5, 0.0249996}</string>
					<string>{-0.49999900000000003, 0.0249996}</string>
					<string>{-0.39641300000000002, 0.491674}</string>
					<string>{-0.39641300000000002, 0.49165900000000001}</string>
					<string>{-0.39641300000000002, 0.49165900000000001}</string>
					<string>{0.5, 0.49998300000000001}</string>
					<string>{0.5, 0.49998300000000001}</string>
					<string>{0.5, 0.49998300000000001}</string>
					<string>{0.49999700000000002, 0.5}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.8</string>
						<key>r</key>
						<string>0.4</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0249909</string>
						<key>g</key>
						<string>0.766479</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf470
{\fonttbl\f0\fnil\fcharset134 STHeitiSC-Light;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\b\fs24 \cf0 7\'a3\'a9
\fs36 \'cd\'c6\'cb\'cd\'c4\'da\'c8\'dd\'b8\'f8\'d3\'c3\'bb\'a7}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{186.40923466034195, 360.63062705185416}, {234.80989074707031, 18}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>HFlip</key>
			<string>YES</string>
			<key>ID</key>
			<integer>36462</integer>
			<key>Rotation</key>
			<real>355</real>
			<key>Shape</key>
			<string>AdjustableArrow</string>
			<key>ShapeData</key>
			<dict>
				<key>width</key>
				<real>18</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.322711</string>
						<key>g</key>
						<string>0.256664</string>
						<key>r</key>
						<string>0.127328</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.81212794780731201</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.6</string>
						<key>g</key>
						<string>0.6</string>
						<key>r</key>
						<string>0.6</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Join</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>AbsoluteRotation</key>
			<string>YES</string>
			<key>Bounds</key>
			<string>{{397.81697288560315, 578.84966198014683}, {126.73859405517578, 18}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>1</string>
					<key>g</key>
					<string>1</string>
					<key>r</key>
					<string>1</string>
				</dict>
				<key>Font</key>
				<string>Helvetica-Bold</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>2938</integer>
			<key>Rotation</key>
			<real>180</real>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{0.49999700000000002, 0.5}</string>
					<string>{0.49999700000000002, 0.5}</string>
					<string>{0.499996, -0.5}</string>
					<string>{0.499996, -0.5}</string>
					<string>{0.499996, -0.5}</string>
					<string>{-0.395061, -0.49999399999999999}</string>
					<string>{-0.395061, -0.49999399999999999}</string>
					<string>{-0.395061, -0.49999399999999999}</string>
					<string>{-0.499998, 0.0249996}</string>
					<string>{-0.5, 0.0249996}</string>
					<string>{-0.49999900000000003, 0.0249996}</string>
					<string>{-0.39641300000000002, 0.491674}</string>
					<string>{-0.39641300000000002, 0.49165900000000001}</string>
					<string>{-0.39641300000000002, 0.49165900000000001}</string>
					<string>{0.5, 0.49998300000000001}</string>
					<string>{0.5, 0.49998300000000001}</string>
					<string>{0.5, 0.49998300000000001}</string>
					<string>{0.49999700000000002, 0.5}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.8</string>
						<key>r</key>
						<string>0.4</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0249909</string>
						<key>g</key>
						<string>0.766479</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf470
{\fonttbl\f0\fnil\fcharset134 STHeitiSC-Light;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\b\fs24 \cf0 6\'a3\'a9
\fs28 \'b7\'a2\'cb\'cd\'cd\'c6\'cb\'cd\'cf\'fb\'cf\'a2}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>111</integer>
			</dict>
			<key>ID</key>
			<integer>2937</integer>
			<key>OrthogonalBarAutomatic</key>
			<true/>
			<key>OrthogonalBarPoint</key>
			<string>{0, 0}</string>
			<key>OrthogonalBarPosition</key>
			<real>-1</real>
			<key>Points</key>
			<array>
				<string>{447.78879204722955, 416.36111816377081}</string>
				<string>{435, 480.69939487363143}</string>
				<string>{220.75438492975076, 569.35528270322595}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>2</integer>
					<key>TailArrow</key>
					<string>FilledArrow</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>6</integer>
			</dict>
		</dict>
		<dict>
			<key>AbsoluteRotation</key>
			<string>YES</string>
			<key>Bounds</key>
			<string>{{224.24808430989594, 516.44445807256864}, {230.09819030761719, 18}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>1</string>
					<key>g</key>
					<string>1</string>
					<key>r</key>
					<string>1</string>
				</dict>
				<key>Font</key>
				<string>Helvetica-Bold</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>2936</integer>
			<key>Rotation</key>
			<real>180</real>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{0.49999700000000025, 0.50000000000000711}</string>
					<string>{0.49999700000000025, 0.50000000000000711}</string>
					<string>{0.49999600000000033, -0.49999999999999289}</string>
					<string>{0.49999600000000033, -0.49999999999999289}</string>
					<string>{0.49999600000000033, -0.49999999999999289}</string>
					<string>{-0.39506099999999966, -0.49999399999999383}</string>
					<string>{-0.39506099999999966, -0.49999399999999383}</string>
					<string>{-0.39506099999999966, -0.49999399999999383}</string>
					<string>{-0.49999799999999972, 0.024999600000004563}</string>
					<string>{-0.49999999999999978, 0.024999600000004563}</string>
					<string>{-0.49999899999999986, 0.024999600000004563}</string>
					<string>{-0.39641299999999968, 0.49167400000000328}</string>
					<string>{-0.39641299999999968, 0.49165900000000562}</string>
					<string>{-0.39641299999999968, 0.49165900000000562}</string>
					<string>{0.50000000000000022, 0.49998300000000384}</string>
					<string>{0.50000000000000022, 0.49998300000000384}</string>
					<string>{0.50000000000000022, 0.49998300000000384}</string>
					<string>{0.49999700000000025, 0.50000000000000711}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.8</string>
						<key>r</key>
						<string>0.4</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0249909</string>
						<key>g</key>
						<string>0.766479</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf470
{\fonttbl\f0\fnil\fcharset134 STHeitiSC-Light;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\b\fs24 \cf0 5\'a3\'a9
\fs28 \'c1\'ac\'bd\'d3\'d0\'c5\'c8\'ce\'c5\'e4\'b6\'d4
\fs24 \'a3\'a8Connection Trust)}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>6</integer>
			</dict>
			<key>ID</key>
			<integer>2935</integer>
			<key>OrthogonalBarAutomatic</key>
			<true/>
			<key>OrthogonalBarPoint</key>
			<string>{0, 0}</string>
			<key>OrthogonalBarPosition</key>
			<real>-1</real>
			<key>Points</key>
			<array>
				<string>{220.7543849297507, 595.92636264132318}</string>
				<string>{466, 578.84966198014683}</string>
				<string>{465.88046192326772, 416.36111816377081}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>HeadArrow</key>
					<string>SharpArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>2</integer>
					<key>TailArrow</key>
					<string>Ball</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>111</integer>
			</dict>
		</dict>
		<dict>
			<key>AbsoluteRotation</key>
			<string>YES</string>
			<key>Bounds</key>
			<string>{{59.969470575364369, 462.69939487363143}, {230.09819030761713, 18}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>1</string>
					<key>g</key>
					<string>1</string>
					<key>r</key>
					<string>1</string>
				</dict>
				<key>Font</key>
				<string>Helvetica-Bold</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>2934</integer>
			<key>Rotation</key>
			<real>180</real>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{0.49999700000000008, 0.5}</string>
					<string>{0.49999700000000008, 0.5}</string>
					<string>{0.49999600000000011, -0.5}</string>
					<string>{0.49999600000000011, -0.5}</string>
					<string>{0.49999600000000011, -0.5}</string>
					<string>{-0.39506100000000011, -0.49999400000000449}</string>
					<string>{-0.39506100000000011, -0.49999400000000449}</string>
					<string>{-0.39506100000000011, -0.49999400000000449}</string>
					<string>{-0.49999799999999994, 0.024999599999993904}</string>
					<string>{-0.5, 0.024999599999993904}</string>
					<string>{-0.49999900000000008, 0.024999599999993904}</string>
					<string>{-0.39641300000000013, 0.49167399999999617}</string>
					<string>{-0.39641300000000013, 0.49165899999999496}</string>
					<string>{-0.39641300000000013, 0.49165899999999496}</string>
					<string>{0.5, 0.49998299999999674}</string>
					<string>{0.5, 0.49998299999999674}</string>
					<string>{0.5, 0.49998299999999674}</string>
					<string>{0.49999700000000008, 0.5}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.8</string>
						<key>r</key>
						<string>0.4</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0249909</string>
						<key>g</key>
						<string>0.766479</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf470
{\fonttbl\f0\fnil\fcharset134 STHeitiSC-Light;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\b\fs24 \cf0 4\'a3\'a9
\fs28 \'b9\'e9\'b5\'b5\'c9\'e8\'b1\'b8\'c1\'ee\'c5\'c6
\fs24 \'a3\'a8device token\'a3\'a9}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>24</integer>
			</dict>
			<key>ID</key>
			<integer>2933</integer>
			<key>OrthogonalBarAutomatic</key>
			<true/>
			<key>OrthogonalBarPoint</key>
			<string>{0, 0}</string>
			<key>OrthogonalBarPosition</key>
			<real>-1</real>
			<key>Points</key>
			<array>
				<string>{143.55190079889132, 601.3020498332196}</string>
				<string>{143.44444906564419, 558.77779308366223}</string>
				<string>{143.52785328887057, 411.26163102310659}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>HeadArrow</key>
					<string>Ball</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>2</integer>
					<key>TailArrow</key>
					<string>FilledArrow</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>111</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>2931</integer>
			<key>OrthogonalBarAutomatic</key>
			<true/>
			<key>OrthogonalBarPoint</key>
			<string>{0, 0}</string>
			<key>OrthogonalBarPosition</key>
			<real>-1</real>
			<key>Points</key>
			<array>
				<string>{143.50619207405683, 326.22223102310664}</string>
				<string>{143.44444906564419, 268.7777854012856}</string>
				<string>{141.22222678455319, 175.7777819574616}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>HeadArrow</key>
					<string>Ball</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>2</integer>
					<key>TailArrow</key>
					<string>FilledArrow</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>24</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{101.0321935194513, 326.22223102310664}, {85.039400000000001, 85.039400000000001}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>24</integer>
			<key>ImageID</key>
			<integer>7</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf470
{\fonttbl\f0\fswiss\fcharset0 Helvetica;\f1\fnil\fcharset134 STHeitiSC-Light;\f2\fnil\fcharset128 HiraKakuProN-W3;
}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 \
\
\
\
\
\
\
\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f1\fs36 \cf0 \'d3\'a6\'d3\'c3
\f2 \'92\'f6\'8f\'98}</string>
			</dict>
		</dict>
		<dict>
			<key>AbsoluteRotation</key>
			<string>YES</string>
			<key>Bounds</key>
			<string>{{64.873625074319961, 241.99999682108603}, {230.09819030761719, 18}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>1</string>
					<key>g</key>
					<string>1</string>
					<key>r</key>
					<string>1</string>
				</dict>
				<key>Font</key>
				<string>Helvetica-Bold</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>2930</integer>
			<key>Rotation</key>
			<real>180</real>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{0.49999699999999986, 0.50000000000000355}</string>
					<string>{0.49999699999999986, 0.50000000000000355}</string>
					<string>{0.49999599999999983, -0.49999999999999645}</string>
					<string>{0.49999599999999983, -0.49999999999999645}</string>
					<string>{0.49999599999999983, -0.49999999999999645}</string>
					<string>{-0.39506100000000011, -0.49999400000000094}</string>
					<string>{-0.39506100000000011, -0.49999400000000094}</string>
					<string>{-0.39506100000000011, -0.49999400000000094}</string>
					<string>{-0.49999799999999994, 0.02499960000000101}</string>
					<string>{-0.5, 0.02499960000000101}</string>
					<string>{-0.49999900000000008, 0.02499960000000101}</string>
					<string>{-0.39641300000000013, 0.49167399999999972}</string>
					<string>{-0.39641300000000013, 0.49165900000000207}</string>
					<string>{-0.39641300000000013, 0.49165900000000207}</string>
					<string>{0.49999999999999983, 0.49998300000000029}</string>
					<string>{0.49999999999999983, 0.49998300000000029}</string>
					<string>{0.49999999999999983, 0.49998300000000029}</string>
					<string>{0.49999699999999986, 0.50000000000000355}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.8</string>
						<key>r</key>
						<string>0.4</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0249909</string>
						<key>g</key>
						<string>0.766479</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf470
{\fonttbl\f0\fnil\fcharset134 STHeitiSC-Light;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\b\fs24 \cf0 3\'a3\'a9
\fs28 \'cc\'e1\'b9\'a9\'c9\'e8\'b1\'b8\'c1\'ee\'c5\'c6
\fs24 \'a3\'a8device token\'a3\'a9}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>AbsoluteRotation</key>
			<string>YES</string>
			<key>Bounds</key>
			<string>{{279.49998984537064, 140}, {230.09819030761719, 18}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>1</string>
					<key>g</key>
					<string>1</string>
					<key>r</key>
					<string>1</string>
				</dict>
				<key>Font</key>
				<string>Helvetica-Bold</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>2928</integer>
			<key>Rotation</key>
			<real>180</real>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{0.49999700000000002, 0.5}</string>
					<string>{0.49999700000000002, 0.5}</string>
					<string>{0.499996, -0.5}</string>
					<string>{0.499996, -0.5}</string>
					<string>{0.499996, -0.5}</string>
					<string>{-0.395061, -0.49999399999999999}</string>
					<string>{-0.395061, -0.49999399999999999}</string>
					<string>{-0.395061, -0.49999399999999999}</string>
					<string>{-0.499998, 0.0249996}</string>
					<string>{-0.5, 0.0249996}</string>
					<string>{-0.49999900000000003, 0.0249996}</string>
					<string>{-0.39641300000000002, 0.491674}</string>
					<string>{-0.39641300000000002, 0.49165900000000001}</string>
					<string>{-0.39641300000000002, 0.49165900000000001}</string>
					<string>{0.5, 0.49998300000000001}</string>
					<string>{0.5, 0.49998300000000001}</string>
					<string>{0.5, 0.49998300000000001}</string>
					<string>{0.49999700000000002, 0.5}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.8</string>
						<key>r</key>
						<string>0.4</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0249909</string>
						<key>g</key>
						<string>0.766479</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf470
{\fonttbl\f0\fnil\fcharset134 STHeitiSC-Light;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\b\fs24 \cf0 2\'a3\'a9
\fs28 \'bb\'f1\'c8\'a1\'c9\'e8\'b1\'b8\'c1\'ee\'c5\'c6
\fs24 \'a3\'a8device token\'a3\'a9}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>6</integer>
			</dict>
			<key>ID</key>
			<integer>2927</integer>
			<key>OrthogonalBarAutomatic</key>
			<true/>
			<key>OrthogonalBarPoint</key>
			<string>{0, 0}</string>
			<key>OrthogonalBarPosition</key>
			<real>83.448753356933594</real>
			<key>Points</key>
			<array>
				<string>{251.2024993017578, 91.840495511932858}</string>
				<string>{430, 92}</string>
				<string>{451.91609985760431, 235.00000366181769}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>2</integer>
					<key>TailArrow</key>
					<string>FilledArrow</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>34</integer>
			</dict>
		</dict>
		<dict>
			<key>AbsoluteRotation</key>
			<string>YES</string>
			<key>Bounds</key>
			<string>{{320.52933460117856, 69.222227579281366}, {230.09819030761719, 18}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>1</string>
					<key>g</key>
					<string>1</string>
					<key>r</key>
					<string>1</string>
				</dict>
				<key>Font</key>
				<string>Helvetica-Bold</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>2926</integer>
			<key>Rotation</key>
			<real>180</real>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{0.49999700000000025, 0.50000000000000089}</string>
					<string>{0.49999700000000025, 0.50000000000000089}</string>
					<string>{0.49999600000000011, -0.49999999999999911}</string>
					<string>{0.49999600000000011, -0.49999999999999911}</string>
					<string>{0.49999600000000011, -0.49999999999999911}</string>
					<string>{-0.39506099999999966, -0.49999400000000005}</string>
					<string>{-0.39506099999999966, -0.49999400000000005}</string>
					<string>{-0.39506099999999966, -0.49999400000000005}</string>
					<string>{-0.49999799999999972, 0.02499960000000101}</string>
					<string>{-0.49999999999999956, 0.02499960000000101}</string>
					<string>{-0.49999899999999986, 0.02499960000000101}</string>
					<string>{-0.39641299999999946, 0.49167400000000061}</string>
					<string>{-0.39641299999999946, 0.49165900000000029}</string>
					<string>{-0.39641299999999946, 0.49165900000000029}</string>
					<string>{-0.10886262232794475, 0.32098762161609518}</string>
					<string>{-0.10886262232794475, 0.32098762161609518}</string>
					<string>{-0.10886262232794475, 0.32098762161609518}</string>
					<string>{0.50000000000000022, 0.49998300000000118}</string>
					<string>{0.50000000000000022, 0.49998300000000118}</string>
					<string>{0.50000000000000022, 0.49998300000000118}</string>
					<string>{0.49999700000000025, 0.50000000000000089}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.8</string>
						<key>r</key>
						<string>0.4</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0249909</string>
						<key>g</key>
						<string>0.766479</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf470
{\fonttbl\f0\fnil\fcharset134 STHeitiSC-Light;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\b\fs24 \cf0 1\'a3\'a9
\fs28 \'c1\'ac\'bd\'d3\'d0\'c5\'c8\'ce\'c5\'e4\'b6\'d4
\fs24 \'a3\'a8Connection Trust)}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>6</integer>
			</dict>
			<key>ID</key>
			<integer>10</integer>
			<key>OrthogonalBarAutomatic</key>
			<true/>
			<key>OrthogonalBarPoint</key>
			<string>{0, 0}</string>
			<key>OrthogonalBarPosition</key>
			<real>-1</real>
			<key>Points</key>
			<array>
				<string>{251.2024993017578, 106.7088770626161}</string>
				<string>{414.62292676434481, 164}</string>
				<string>{437.10273930038534, 235.00000366181769}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>HeadArrow</key>
					<string>Ball</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>2</integer>
					<key>TailArrow</key>
					<string>FilledArrow</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>34</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{380.99999966462804, 235.00000366181769}, {169.62750244140625, 181.36111450195312}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>6</integer>
			<key>ImageID</key>
			<integer>6</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf470
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 \
\
\
\
\
\
\
\
\
\
\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\fs36 \cf0 APNS}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{66.349416668031949, 557.90004933321961}, {154.40496826171875, 86.804001}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>111</integer>
			<key>ImageID</key>
			<integer>5</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf470
{\fonttbl\f0\fswiss\fcharset0 Helvetica;\f1\fnil\fcharset128 HiraKakuProN-W3;\f2\fnil\fcharset134 STHeitiSC-Light;
}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 \
\
\
\
\
\
\
\
\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f1\b\fs36 \cf0 \'90\'84\'91\'97\'93\'e0\'97\'65
\f2 \'b7\'a2\'cb\'cd\'d5\'df\
(\'b7\'fe\'ce\'f1\'c6\'f7)}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{166.16328430175781, 49.282956451365067}, {85.039214999999999, 85.039214999999999}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>34</integer>
			<key>ImageID</key>
			<integer>4</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
					<key>GapRatio</key>
					<real>0.5</real>
					<key>Width</key>
					<real>4</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf470
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 \
\
\
\
\
\
\
\
\
\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\fs36 \cf0 iMac
\fs24 \
\
\
}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{81.124106740178206, 49.282988632812476}, {85.039185000000003, 85.039185000000003}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>38</integer>
			<key>ImageID</key>
			<integer>3</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
					<key>GapRatio</key>
					<real>0.5</real>
					<key>Width</key>
					<real>4</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf470
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 \
\
\
\
\
\
\
\
\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\fs36 \cf0 iPad\
}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{15.646976891817445, 49.28298981599778}, {85.039214999999999, 85.039214999999999}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>48</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
					<key>GapRatio</key>
					<real>0.5</real>
					<key>Width</key>
					<real>4</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf470
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 \
\
\
\
\
\
\
\
\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\fs36 \cf0 iPhone/iTouch}</string>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>8</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image7.tiff</string>
		<string>image6.png</string>
		<string>image5.png</string>
		<string>image4.png</string>
		<string>image3.png</string>
		<string>image2.png</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2012-08-26 04:59:57 +0000</string>
	<key>Modifier</key>
	<string>Jason Qian</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{595, 842}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{340, 0}, {693, 878}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{0, 15}, {544, 724}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>0.5</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
