<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.7.0.167456</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {559, 783}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2012-08-26 05:09:07 +0000</string>
	<key>Creator</key>
	<string>Jason Qian</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1 0/72 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{296.36360986328117, 345.40196510505808}, {115.31199645996108, 18.58682540702755}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>1</string>
							<key>g</key>
							<string>1</string>
							<key>r</key>
							<string>1</string>
						</dict>
						<key>Font</key>
						<string>Helvetica-Bold</string>
						<key>NSKern</key>
						<real>0.0</real>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>41361</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Fuzziness</key>
							<real>0.49889358878135681</real>
							<key>ShadowVector</key>
							<string>{4, 4}</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>8</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf470
{\fonttbl\f0\fswiss\fcharset0 Helvetica;\f1\fnil\fcharset128 HiraKakuProN-W3;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 TLS
\f1 \'90\'ac\'8c\'f7\'8c\'9a\'97\'a7}</string>
						<key>VerticalPad</key>
						<integer>2</integer>
					</dict>
					<key>TextPlacement</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{349.28612380740191, 322.79522306428748}, {10.965551105585979, 45.375104977011695}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica-Bold</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>41362</integer>
					<key>Rotation</key>
					<real>270</real>
					<key>Shape</key>
					<string>Bezier</string>
					<key>ShapeData</key>
					<dict>
						<key>UnitPoints</key>
						<array>
							<string>{-0.5, -0.5}</string>
							<string>{-0.5, -0.5}</string>
							<string>{0.5, 0}</string>
							<string>{0.5, 0}</string>
							<string>{0.5, 0}</string>
							<string>{-0.5, 0.5}</string>
							<string>{-0.5, 0.5}</string>
							<string>{-0.5, 0.5}</string>
							<string>{-0.5, -0.5}</string>
							<string>{-0.5, -0.5}</string>
							<string>{-0.5, -0.5}</string>
							<string>{-0.5, -0.5}</string>
						</array>
					</dict>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.8</string>
								<key>g</key>
								<string>0.8</string>
								<key>r</key>
								<string>0.8</string>
							</dict>
							<key>Fuzziness</key>
							<real>0.49889358878135681</real>
							<key>ShadowVector</key>
							<string>{4, 4}</string>
						</dict>
					</dict>
					<key>VFlip</key>
					<string>YES</string>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
			</array>
			<key>ID</key>
			<integer>41360</integer>
			<key>VFlip</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>41359</integer>
			<key>OrthogonalBarAutomatic</key>
			<true/>
			<key>OrthogonalBarPoint</key>
			<string>{0, 0}</string>
			<key>OrthogonalBarPosition</key>
			<real>-1</real>
			<key>Points</key>
			<array>
				<string>{209.03912353515625, 339.00590321025248}</string>
				<string>{490.03914095461369, 339}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>HeadArrow</key>
					<string>SharpArrow</string>
					<key>Join</key>
					<integer>0</integer>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>2</integer>
					<key>TailArrow</key>
					<string>FilledArrow</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{496.86691788134181, 308.49880113586624}, {80.717491149902344, 22}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>1</string>
							<key>g</key>
							<string>1</string>
							<key>r</key>
							<string>1</string>
						</dict>
						<key>Font</key>
						<string>Helvetica-Bold</string>
						<key>NSKern</key>
						<real>0.0</real>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>41357</integer>
					<key>Rotation</key>
					<real>91</real>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Fuzziness</key>
							<real>0.49889358878135681</real>
							<key>ShadowVector</key>
							<string>{4, 4}</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>8</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf470
{\fonttbl\f0\fnil\fcharset128 HiraKakuProN-W3;\f1\fnil\fcharset134 STHeitiSC-Light;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 \'8d\'87\'96\'40\'90\'ab
\f1 \'c8\'cf\'d6\'a4}</string>
						<key>VerticalPad</key>
						<integer>2</integer>
					</dict>
					<key>TextPlacement</key>
					<integer>0</integer>
					<key>VFlip</key>
					<string>YES</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{519.82422048939054, 303.95180368754177}, {12.979199999999993, 31.762216827800358}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica-Bold</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>41358</integer>
					<key>Rotation</key>
					<real>181</real>
					<key>Shape</key>
					<string>Bezier</string>
					<key>ShapeData</key>
					<dict>
						<key>UnitPoints</key>
						<array>
							<string>{-0.5, -0.5}</string>
							<string>{-0.5, -0.5}</string>
							<string>{0.5, 0}</string>
							<string>{0.5, 0}</string>
							<string>{0.5, 0}</string>
							<string>{-0.5, 0.5}</string>
							<string>{-0.5, 0.5}</string>
							<string>{-0.5, 0.5}</string>
							<string>{-0.5, -0.5}</string>
							<string>{-0.5, -0.5}</string>
							<string>{-0.5, -0.5}</string>
							<string>{-0.5, -0.5}</string>
						</array>
					</dict>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.8</string>
								<key>g</key>
								<string>0.8</string>
								<key>r</key>
								<string>0.8</string>
							</dict>
							<key>Fuzziness</key>
							<real>0.49889358878135681</real>
							<key>ShadowVector</key>
							<string>{4, 4}</string>
						</dict>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
			</array>
			<key>ID</key>
			<integer>41356</integer>
			<key>Rotation</key>
			<real>91</real>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>2934</integer>
				<key>Position</key>
				<real>0.6539650559425354</real>
			</dict>
			<key>ID</key>
			<integer>41355</integer>
			<key>Points</key>
			<array>
				<string>{495.01962280273438, 296.77197265625}</string>
				<string>{515.58877563476562, 315.77197265625}</string>
				<string>{495.67359396057429, 337.68797105550766}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{301.37599999999992, 267.3780226562501}, {115.31199645996108, 22}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>1</string>
							<key>g</key>
							<string>1</string>
							<key>r</key>
							<string>1</string>
						</dict>
						<key>Font</key>
						<string>Helvetica-Bold</string>
						<key>NSKern</key>
						<real>0.0</real>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>41353</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Fuzziness</key>
							<real>0.49889358878135681</real>
							<key>ShadowVector</key>
							<string>{4, 4}</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>8</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf470
{\fonttbl\f0\fnil\fcharset134 STHeitiSC-Light;\f1\fnil\fcharset128 HiraKakuProN-W3;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 \'c9\'e8\'b1\'b8
\f1 /\'92\'f1\'8b\'9f\'8e\'d2\'93\'49
\f0 \'d6\'a4\'ca\'e9}</string>
						<key>VerticalPad</key>
						<integer>2</integer>
					</dict>
					<key>TextPlacement</key>
					<integer>0</integer>
					<key>VFlip</key>
					<string>YES</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{353.29168949691365, 266.59482016774416}, {12.979199999999997, 45.375104977011695}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica-Bold</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>41354</integer>
					<key>Rotation</key>
					<real>90</real>
					<key>Shape</key>
					<string>Bezier</string>
					<key>ShapeData</key>
					<dict>
						<key>UnitPoints</key>
						<array>
							<string>{-0.5, -0.5}</string>
							<string>{-0.5, -0.5}</string>
							<string>{0.5, 0}</string>
							<string>{0.5, 0}</string>
							<string>{0.5, 0}</string>
							<string>{-0.5, 0.5}</string>
							<string>{-0.5, 0.5}</string>
							<string>{-0.5, 0.5}</string>
							<string>{-0.5, -0.5}</string>
							<string>{-0.5, -0.5}</string>
							<string>{-0.5, -0.5}</string>
							<string>{-0.5, -0.5}</string>
						</array>
					</dict>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.8</string>
								<key>g</key>
								<string>0.8</string>
								<key>r</key>
								<string>0.8</string>
							</dict>
							<key>Fuzziness</key>
							<real>0.49889358878135681</real>
							<key>ShadowVector</key>
							<string>{4, 4}</string>
						</dict>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
			</array>
			<key>ID</key>
			<integer>41352</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{129.4547334938691, 257.54457521332819}, {80.717491149902344, 22}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>1</string>
							<key>g</key>
							<string>1</string>
							<key>r</key>
							<string>1</string>
						</dict>
						<key>Font</key>
						<string>Helvetica-Bold</string>
						<key>NSKern</key>
						<real>0.0</real>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>41350</integer>
					<key>Rotation</key>
					<real>271</real>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Fuzziness</key>
							<real>0.49889358878135681</real>
							<key>ShadowVector</key>
							<string>{4, 4}</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>8</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf470
{\fonttbl\f0\fnil\fcharset128 HiraKakuProN-W3;\f1\fnil\fcharset134 STHeitiSC-Light;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 \'8d\'87\'96\'40\'90\'ab
\f1 \'c8\'cf\'d6\'a4}</string>
						<key>VerticalPad</key>
						<integer>2</integer>
					</dict>
					<key>TextPlacement</key>
					<integer>0</integer>
					<key>VFlip</key>
					<string>YES</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{174.23572203572303, 252.3293558338525}, {12.979199999999993, 31.762216827800358}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica-Bold</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>41351</integer>
					<key>Rotation</key>
					<real>1</real>
					<key>Shape</key>
					<string>Bezier</string>
					<key>ShapeData</key>
					<dict>
						<key>UnitPoints</key>
						<array>
							<string>{-0.5, -0.5}</string>
							<string>{-0.5, -0.5}</string>
							<string>{0.5, 0}</string>
							<string>{0.5, 0}</string>
							<string>{0.5, 0}</string>
							<string>{-0.5, 0.5}</string>
							<string>{-0.5, 0.5}</string>
							<string>{-0.5, 0.5}</string>
							<string>{-0.5, -0.5}</string>
							<string>{-0.5, -0.5}</string>
							<string>{-0.5, -0.5}</string>
							<string>{-0.5, -0.5}</string>
						</array>
					</dict>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.8</string>
								<key>g</key>
								<string>0.8</string>
								<key>r</key>
								<string>0.8</string>
							</dict>
							<key>Fuzziness</key>
							<real>0.49889358878135681</real>
							<key>ShadowVector</key>
							<string>{4, 4}</string>
						</dict>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
			</array>
			<key>ID</key>
			<integer>41349</integer>
			<key>Rotation</key>
			<real>271</real>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{301.37599999999992, 220.69697499275208}, {115.31199645996108, 22}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>1</string>
							<key>g</key>
							<string>1</string>
							<key>r</key>
							<string>1</string>
						</dict>
						<key>Font</key>
						<string>Helvetica-Bold</string>
						<key>NSKern</key>
						<real>0.0</real>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>41347</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Fuzziness</key>
							<real>0.49889358878135681</real>
							<key>ShadowVector</key>
							<string>{4, 4}</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>8</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf470
{\fonttbl\f0\fswiss\fcharset0 Helvetica;\f1\fnil\fcharset128 HiraKakuProN-W3;\f2\fnil\fcharset134 STHeitiSC-Light;
}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 APNS
\f1 \'95\'9e
\f2 \'ce\'f1\'c6\'f7\'d6\'a4\'ca\'e9}</string>
						<key>VerticalPad</key>
						<integer>2</integer>
					</dict>
					<key>TextPlacement</key>
					<integer>0</integer>
					<key>VFlip</key>
					<string>YES</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{353.29168949691365, 219.9137725042462}, {12.979199999999997, 45.375104977011695}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica-Bold</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>41348</integer>
					<key>Rotation</key>
					<real>90</real>
					<key>Shape</key>
					<string>Bezier</string>
					<key>ShapeData</key>
					<dict>
						<key>UnitPoints</key>
						<array>
							<string>{-0.5, -0.5}</string>
							<string>{-0.5, -0.5}</string>
							<string>{0.5, 0}</string>
							<string>{0.5, 0}</string>
							<string>{0.5, 0}</string>
							<string>{-0.5, 0.5}</string>
							<string>{-0.5, 0.5}</string>
							<string>{-0.5, 0.5}</string>
							<string>{-0.5, -0.5}</string>
							<string>{-0.5, -0.5}</string>
							<string>{-0.5, -0.5}</string>
							<string>{-0.5, -0.5}</string>
						</array>
					</dict>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.8</string>
								<key>g</key>
								<string>0.8</string>
								<key>r</key>
								<string>0.8</string>
							</dict>
							<key>Fuzziness</key>
							<real>0.49889358878135681</real>
							<key>ShadowVector</key>
							<string>{4, 4}</string>
						</dict>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
			</array>
			<key>ID</key>
			<integer>41346</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>2933</integer>
				<key>Position</key>
				<real>0.51751309633255005</real>
			</dict>
			<key>ID</key>
			<integer>41345</integer>
			<key>Points</key>
			<array>
				<string>{211, 248}</string>
				<string>{190, 269}</string>
				<string>{213.50207753619225, 298.00874555110931}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>41344</integer>
			<key>OrthogonalBarAutomatic</key>
			<true/>
			<key>OrthogonalBarPoint</key>
			<string>{0, 0}</string>
			<key>OrthogonalBarPosition</key>
			<real>-1</real>
			<key>Points</key>
			<array>
				<string>{213.01957486569881, 296.77788199815166}</string>
				<string>{494.01959228515625, 296.77197878789912}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>HeadArrow</key>
					<string>SharpArrow</string>
					<key>Join</key>
					<integer>0</integer>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>2</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>41340</integer>
			<key>OrthogonalBarAutomatic</key>
			<true/>
			<key>OrthogonalBarPoint</key>
			<string>{0, 0}</string>
			<key>OrthogonalBarPosition</key>
			<real>-1</real>
			<key>Points</key>
			<array>
				<string>{209.03914973139763, 250.39985462626817}</string>
				<string>{490.03916715085506, 250.39395141601562}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Join</key>
					<integer>0</integer>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>2</integer>
					<key>TailArrow</key>
					<string>FilledArrow</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{301.37599999999992, 174}, {115.31199645996108, 22}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>1</string>
							<key>g</key>
							<string>1</string>
							<key>r</key>
							<string>1</string>
						</dict>
						<key>Font</key>
						<string>Helvetica-Bold</string>
						<key>NSKern</key>
						<real>0.0</real>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>41338</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Fuzziness</key>
							<real>0.49889358878135681</real>
							<key>ShadowVector</key>
							<string>{4, 4}</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>8</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf470
{\fonttbl\f0\fswiss\fcharset0 Helvetica;\f1\fnil\fcharset128 HiraKakuProN-W3;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf2 TLS 
\f1 \'8f\'89\'8e\'6e\'89\'bb}</string>
						<key>VerticalPad</key>
						<integer>2</integer>
					</dict>
					<key>TextPlacement</key>
					<integer>0</integer>
					<key>VFlip</key>
					<string>YES</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{353.29168949691365, 173.21679751149412}, {12.979199999999997, 45.375104977011695}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica-Bold</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>41339</integer>
					<key>Rotation</key>
					<real>90</real>
					<key>Shape</key>
					<string>Bezier</string>
					<key>ShapeData</key>
					<dict>
						<key>UnitPoints</key>
						<array>
							<string>{-0.5, -0.5}</string>
							<string>{-0.5, -0.5}</string>
							<string>{0.5, 0}</string>
							<string>{0.5, 0}</string>
							<string>{0.5, 0}</string>
							<string>{-0.5, 0.5}</string>
							<string>{-0.5, 0.5}</string>
							<string>{-0.5, 0.5}</string>
							<string>{-0.5, -0.5}</string>
							<string>{-0.5, -0.5}</string>
							<string>{-0.5, -0.5}</string>
							<string>{-0.5, -0.5}</string>
						</array>
					</dict>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.8</string>
								<key>g</key>
								<string>0.8</string>
								<key>r</key>
								<string>0.8</string>
							</dict>
							<key>Fuzziness</key>
							<real>0.49889358878135681</real>
							<key>ShadowVector</key>
							<string>{4, 4}</string>
						</dict>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
			</array>
			<key>ID</key>
			<integer>41337</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>2934</integer>
				<key>Position</key>
				<real>0.18887001276016235</real>
			</dict>
			<key>ID</key>
			<integer>10</integer>
			<key>OrthogonalBarAutomatic</key>
			<true/>
			<key>OrthogonalBarPoint</key>
			<string>{0, 0}</string>
			<key>OrthogonalBarPosition</key>
			<real>-1</real>
			<key>Points</key>
			<array>
				<string>{213.83071393921765, 204.02180561423302}</string>
				<string>{495.20848372583191, 204.2056936621666}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>HeadArrow</key>
					<string>SharpArrow</string>
					<key>Join</key>
					<integer>0</integer>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>2</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>2933</integer>
				<key>Position</key>
				<real>0.18888743221759796</real>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>2934</integer>
			<key>Points</key>
			<array>
				<string>{495.01960754394531, 150}</string>
				<string>{496.01964020729065, 437}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.998734</string>
						<key>g</key>
						<string>0.800366</string>
						<key>r</key>
						<string>0.398474</string>
					</dict>
					<key>HeadArrow</key>
					<string>SharpArrow</string>
					<key>HeadScale</key>
					<real>0.85714292526245117</real>
					<key>Join</key>
					<integer>0</integer>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>2933</integer>
			<key>Points</key>
			<array>
				<string>{214.01960754394531, 150}</string>
				<string>{213.01957486569881, 436}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.998734</string>
						<key>g</key>
						<string>0.800366</string>
						<key>r</key>
						<string>0.398474</string>
					</dict>
					<key>HeadArrow</key>
					<string>SharpArrow</string>
					<key>HeadScale</key>
					<real>0.85714292526245117</real>
					<key>Join</key>
					<integer>0</integer>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{452, 41}, {85.039199999999994, 85.039199999999994}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>6</integer>
			<key>ImageID</key>
			<integer>7</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{171, 46.343542124023429}, {85.039199999999994, 85.039199999999994}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>22</integer>
			<key>ImageID</key>
			<integer>6</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{63, 148.19599914550781}, {86.804001, 86.804001}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>111</integer>
			<key>ImageID</key>
			<integer>5</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{95, 46.343520249023413}, {85.039185000000003, 85.039185000000003}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>37</integer>
			<key>ImageID</key>
			<integer>4</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{34.313639999999964, 46.343519999999899}, {85.039214999999999, 85.039214999999999}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>49</integer>
			<key>ImageID</key>
			<integer>3</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>8</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image7.png</string>
		<string>image6.png</string>
		<string>image5.png</string>
		<string>image4.png</string>
		<string>image3.png</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2012-08-26 05:20:34 +0000</string>
	<key>Modifier</key>
	<string>Jason Qian</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{595, 842}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{169, 0}, {693, 878}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{15, 0}, {544, 724}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
