<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>GROUP_TITLE01</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>IsSecure</key>
			<false/>
			<key>Title</key>
			<string>USER_NAME_TITLE</string>
			<key>Key</key>
			<string>usernameKey</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>IsSecure</key>
			<true/>
			<key>Title</key>
			<string>PASSWORD_TITLE</string>
			<key>Key</key>
			<string>passwordKey</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>GROUP_TITLE02</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>MinimumValueImage</key>
			<string>min</string>
			<key>MaximumValueImage</key>
			<string>max</string>
			<key>Key</key>
			<string>ageSliderKey</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MaximumValue</key>
			<integer>120</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>GROUP_TITLE03</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>TITLE_TITLE01</string>
			<key>DefaultValue</key>
			<string>value0</string>
			<key>Values</key>
			<array>
				<string>value0</string>
				<string>value1</string>
				<string>value2</string>
			</array>
			<key>Titles</key>
			<array>
				<string>TITLE_BACKUP01</string>
				<string>TITLE_BACKUP02</string>
				<string>TITLE_BACKUP03</string>
			</array>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Key</key>
			<string>titleKey01</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>TITLE_TITLE02</string>
			<key>DefaultValue</key>
			<string>80000</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Key</key>
			<string>titleKey02</string>
		</dict>
		<dict>
			<key>FalseValue</key>
			<string>false</string>
			<key>TrueValue</key>
			<string>true</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>TOGGLE_TITLE</string>
			<key>Key</key>
			<string>toggleKey</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>MULTI_GROUP_TITLE</string>
		</dict>
		<dict>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
			</array>
			<key>Titles</key>
			<array>
				<string>SUB_TITLE_0</string>
				<string>SUB_TITLE_1</string>
				<string>SUB_TITLE_2</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>MULTI_TITLE</string>
			<key>Key</key>
			<string>multiKey</string>
			<key>DefaultValue</key>
			<string>2</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>CHILD_GROUP_TITLE</string>
		</dict>
		<dict>
			<key>File</key>
			<string>OtherRoot</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>CHILE_TITLE</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>PROJECT_NAME</string>
</dict>
</plist>
